%mdtv-button {
  border-radius: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--mdtv-font-family-poppins-normal) !important;
  width: 300px !important;

  // &:disabled {
  //   cursor: not-allowed !important;
  //   pointer-events: all !important;
  //   background: var(--mdtv-button-primary-disabled) !important;
  //   border: none;
  //   opacity: 1;
  // }

  &:focus {
    box-shadow: none;
  }

  &:active {
    color: none;
  }
}

.mdtv-button-primary {
  @extend %mdtv-button;
  background: var(--mdtv-button-primary-blue) !important;
  border: none;
  position: relative;
  transition: background-color 0.75s, color 0.75s, border-color 0.75s,
    box-shadow 0.75s;
  z-index: 1;

  &::before {
    background: var(--mdtv-button-primary-blue-hover) !important;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.25s linear;
    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }
}

.mdtv-button-secondary {
  @extend %mdtv-button;
  background: var(--mdtv-button-secondary-outline) !important;
  border-style: solid !important;
  border-color: var(--mdtv-button-secondary-outline-color) !important;
  color: var(--mdtv-button-secondary-outline-color) !important;
  transition: background-color 0.75s, color 0.75s, border-color 0.75s,
    box-shadow 0.75s;

  &:hover {
    background: #00aeef1a !important;
  }
}

.mdtv-button-disabled {
  @extend %mdtv-button;
  &:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
    background: var(--mdtv-button-primary-disabled) !important;
    border: none;
    opacity: 1;
    // width: 368px;
  }

  span {
    flex: 0 !important;
  }
}

.mdtv-button-link {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: var(--mdtv-light-blue-800) !important;
  font-family: var(--mdtv-font-family-poppins-normal) !important;

  span {
    font-size: 12px !important;
  }

  &:enabled:hover {
    background: none;
    text-decoration: underline;
  }
}

.mdtv-button-small {
  font-size: 12px !important;
  padding: 10px 16px !important;
}
.mdtv-button-medium {
  font-size: 14px !important;
  padding: 11px 20px !important;
}
.mdtv-button-large {
  font-size: 16px !important;
  padding: 12px 24px !important;
}

@media only screen and (max-width: 395px) {
  .mdtv-button-primary,
  .mdtv-button-secondary,
  .mdtv-button-disabled,
  .mdtv-button-link {
    width: 265px;
  }
}

// .pi-spinner {
//   animation: rotateSpinner 1000ms linear infinite;
// }

// @keyframes rotateSpinner {
//   to {
//     transform: rotate(360deg);
//   }
// }
