/*=============================================
=            Colors            =
=============================================*/

$btn-primary-bg: var(--mdtv-theme-btn-primary) !default;
$btn-primary-bg-hover: var(--mdtv-theme-btn-bg-primary) !default;

$btn-disabled-bg: var(--mdtv-theme-btn-disabled) !default;
