:root {
  --mdtv-font-size-0: var(--mdtv-base-unit);
  --mdtv-font-size-10: calc(var(--mdtv-base-unit) * 2);
  --mdtv-font-size-20: calc(var(--mdtv-base-unit) * 3);

  --mdtv-font-weight-10: 100;
  --mdtv-font-weight-20: 300;
  --mdtv-font-weight-30: 700;

  --mdtv-font-family-poppins-normal: PoppinsNormal;
  --mdtv-font-family-poppins-light: PoppinsLight;
  --mdtv-font-family-poppins-bold: PoppinsBold;

  --mdtv-font-famili-ibm-plex-sans: OpenSans;
}
