@import "../../styles/all";

.mdtv-button {
  cursor: pointer;
  height: 48px;
  border-radius: 24px;
  padding: 0px 30px;
  gap: 10px;
  border: none;
  transition: 0.2s;
  opacity: 0.9;
  background: $btn-primary-bg !important;
  font-family: "Poppins", sans-serif;

  &:disabled {
    cursor: not-allowed !important;
    background: $btn-disabled-bg !important;
  }

  &:enabled:hover {
    border: none;
    border-color: none;
    color: none;
    opacity: 1;
    background: $btn-primary-bg-hover !important;
  }

  &:focus {
    box-shadow: none;
  }

  &:active {
    color: none;
  }
}

.pi-spinner {
  animation: rotateSpinner 1000ms linear infinite;
}

@keyframes rotateSpinner {
  to {
    transform: rotate(360deg);
  }
}
