:root {
  --mdtv-white: #ffffff;
  --mdtv-gray-100: #f2f2f2;
  --mdtv-gray-200: #dcdcdc;
  --mdtv-gray-300: #c1c1c1;
  --mdtv-gray-400: #a3a3a3;
  --mdtv-gray-500: #838383;
  --mdtv-gray-600: #646464;
  --mdtv-gray-700: #464646;
  --mdtv-gray-800: #2c2c2c;
  --mdtv-gray-900: #1b1b1b;
  --mdtv-black: #101010;
}
